<ion-view view-title="Language list">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="lang in langs" type="item-text-wrap" href="#/tab/lang-list/{{lang.id}}">
        <img ng-src="{{lang.face}}">
        <h2>{{lang.name}}</h2>
        <p>{{lang.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(lang)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
